<div class="container">
    <div class="py-2 text-center">
      <header class="blog-header py-3">
          <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
            </div>
            <div class="col-4 text-center">
              <nav class="navbar fixed-top navbar-light bg-light">
               <h2 class="navbar-brand">Vebruikskosten:</h2>
                          
              <p> Jaarlijks:   <span class="badge" [ngClass]="{true: 'badge-danger', false: 'badge-warning'}[yearlyCostInEuros > 30]">
                                  <b>{{  yearlyCostInEuros | currency:'EUR':true }}</b>
                                </span>

                  Maandelijks: <span class="badge badge-warning">
                                  <b>{{ monthlyCostInEuros | currency:'EUR':true }}</b>
                                </span>

                  Dagelijks:   <span class="badge badge-warning">
                                  <b>{{  dailyCostsInEuros | currency:'EUR':true }}</b>
                                </span>
              </p>
              </nav>
            </div>
          </div>
        </header>
      </div>
      <br />
      <br />
    <div class="row">
      <div class="col-md-12 order-md-1">
        <div class="card" style="width: auto;">
            <div class="card-body">
        <form class="needs-validation" novalidate [ngFormOptions]="{updateOn: 'change'}">
          <div class="row">

            <div class="col-md-6 col-sm-6 mb-3">
              <label for="usage">Gebruik per dag</label>
              <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Uren:</span>
              </div>
                <input type="number" 
                        class="form-control" 
                        min="0" 
                        max="24" 
                        id="usage" 
                        name="usage" 
                        [(ngModel)]="hoursOfUsageADay" 
                        required 
                        (ngModelChange)="recalculateCosts()"/>
              </div>
              <div class="invalid-feedback">
                usage is required.
              </div>
            </div>

            <div class="col-md-6 col-sm-6 mb-3">
                <label for="device_wattage">Apparaatverbruik</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Watt</span>
                  </div>
                  <input type="number" 
                        class="form-control"
                        min="0" 
                        id="device_wattage" 
                        name="device_wattage" 
                        [(ngModel)]="deviceWattage" 
                        required 
                        (ngModelChange)="recalculateCosts()" />
                  <div class="invalid-feedback" style="width: 100%;">
                    Device wattage is vereist.
                  </div>
                </div>
            </div>
  
          <div class="w-100"></div>
          
          <div class="col-md-6 col-sm-6 mb-3">                
              <label for="pricekwh">Electriciteitskosten</label>
              <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Eurocent per kWh</span>
                  </div>
                <input type="number" 
                        class="form-control" 
                        min="0" 
                        id="pricekwh" 
                        name="pricekwh" 
                        [(ngModel)]="electricityCostOfKWhInCents" 
                        required 
                        (ngModelChange)="recalculateCosts()" />
              </div>
              <div class="invalid-feedback">
                Electricity price is required.
              </div>
          </div>
            <div class="col-md-6 col-sm-6 mb-3"><br />
                <button type="button" class="btn btn-warning btn-lg btn-block" (click)="nullifyAndRecalculate()">Bereken kosten</button>
            </div>
        </div>
        </form>
        </div>
        </div>
      </div>

    </div>
    
<router-outlet></router-outlet>
<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="">Dit is een indicatie.<br />De werkelijke kosten kunnen verschillen.</p>
      <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-87694509-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-87694509-5');
</script>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6943201599023392"
     data-ad-slot="4130778906"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
    <p class="mb-1">&copy; 2019 Verbruikskosten</p>
  </footer>
</div>