<div class="container">
    <div class="py-2 text-center">
      <header class="blog-header py-3">
          <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
            </div>
            <div class="col-4 text-center">
              <nav class="navbar fixed-top navbar-light bg-light">
               <!-- <h2 class="navbar-brand">Vebruikskosten:</h2> -->
               <p>Bereken wat de electriciteitskosten van een apparaat kan zijn:</p>
                          
              <p> Jaarlijks:   <b>{{  yearlyCostInEuros | currency:'EUR':true }}</b> 
                  Maandelijks: <b>{{ monthlyCostInEuros | currency:'EUR':true }}</b> 
                  Dagelijks:   <b>{{  dailyCostsInEuros | currency:'EUR':true }}</b>  
              </p>
              </nav>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
            </div>
          </div>
        </header>
      </div>
      <br />
      <br />
    <div class="row">
      <div class="col-md-12 order-md-1">
        <div class="card" style="width: auto;">
            <div class="card-body">
        <form class="needs-validation" novalidate>
          <div class="row">

            <div class="col-md-6 col-sm-6 mb-3">
              <label for="usage">Gebruik per dag</label>
              <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Uren:</span>
              </div>
                <input type="number" 
                        class="form-control" 
                        min="0" 
                        max="24" 
                        id="usage" 
                        name="usage" 
                        [(ngModel)]="hoursOfUsageADay" 
                        required 
                        (blur)="recalculateCosts()" />
              </div>
              <div class="invalid-feedback">
                usage is required.
              </div>
            </div>

            <div class="col-md-6 col-sm-6 mb-3">
                <label for="device_wattage">Apparaatverbruik</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Watt</span>
                  </div>
                  <input type="number" 
                        class="form-control" 
                        min="0" 
                        id="device_wattage" 
                        name="device_wattage" 
                        [(ngModel)]="deviceWattage" 
                        required 
                        (blur)="recalculateCosts()" />
                  <div class="invalid-feedback" style="width: 100%;">
                    Device wattage is vereist.
                  </div>
                </div>
            </div>
            
          <!-- </div> -->
  
          <div class="w-100"></div>
          
          <div class="col-md-6 col-sm-6 mb-3">                
              <label for="pricekwh">Electriciteitskosten</label>
              <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Eurocent per kWh</span>
                  </div>
                <input type="number" 
                        class="form-control" 
                        min="0" 
                        id="pricekwh" 
                        name="pricekwh" 
                        [(ngModel)]="electricityCostOfKWhInCents" 
                        required 
                        (blur)="recalculateCosts()" />
              </div>
              <div class="invalid-feedback">
                Electricity price is required.
              </div>
          </div>
            <div class="col-md-6 col-sm-6 mb-3"><br />
                <button type="button" class="btn btn-warning btn-lg btn-block" (click)="nullifyAndRecalculate()">Bereken kosten</button>
            </div>
        </div>
        </form>
        </div>
        </div>
      </div>

       <!-- <div class="col-md-4 order-md-2 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Devices list</span>
          <span class="badge badge-secondary badge-pill">3</span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Product name</h6>
              <small class="text-muted">Brief description</small>
            </div>
            <span class="text-muted">$12</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Second product</h6>
              <small class="text-muted">Brief description</small>
            </div>
            <span class="text-muted">$8</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Third item</h6>
              <small class="text-muted">Brief description</small>
            </div>
            <span class="text-muted">$5</span>
          </li>
          <li class="list-group-item d-flex justify-content-between bg-light">
            <div class="text-success">
              <h6 class="my-0">Promo code</h6>
              <small>EXAMPLECODE</small>
            </div>
            <span class="text-success">-$5</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (USD)</span>
            <strong>$20</strong>
          </li>
        </ul>
      </div> -->
    </div>
    
<router-outlet></router-outlet>
<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="">Dit is een inschatting! <br />De werkelijke kosten kunnen verschillen.</p>
      <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-87694509-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-87694509-5');
</script>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6943201599023392"
     data-ad-slot="4130778906"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
    <p class="mb-1">&copy; 2018 Verbruikskosten</p>
    <!-- <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul> -->
  </footer>
</div>